<?xml version="1.0"?>
<launch>
<!--	<include file="$(find SEU_Jolly_2dnav)/launch/move_base.launch"/>  -->
	<include file="$(find hector_geotiff)/launch/geotiff_mapper.launch"/>  
	<node pkg="hector_exploration_controller" type="simple_exploration_controller" respawn="true" name="simple_exploration_controller" output="screen" /> 
	<node pkg="base_controller" type="base_controller_auto" respawn="true" name="base_controller_auto" output="screen" />  

	<node pkg="opencv_test" type="camera_bmp" respawn="true" name="camera_bmp" /> 	
	<node pkg="qrcode" type="qrcode" respawn="true" name="qrcode" output="screen" /> 	
 
</launch>
